body{
    background-image: url("./bg.webp");
    margin: 0;
    height: 120vh;
}
header{
    position: sticky;
    top: 0;
    color: white;
    padding: 20px;
}

.logo{
    display: inline-block;
    font-size: larger;
    font-weight: 600;
    word-spacing: 6px;
    cursor: pointer;
}
.navbar{
    display: inline-block;
    width: 600px;
    position: absolute;
    right: 20px;

    
}

.navbar>a{
    color: white;
    padding: 20px;
    text-decoration: none;
    transition:all 0.5s;
}
.navbar>a:hover{
    color: salmon;
}
.heading{
    color: salmon;
    font-size:80px;
    position: relative;
    width: 500px;
    left: 100px;
    top: 120px;
}
.heading+h3{
    color: rgb(255, 255, 255);
    width: 200px;
    position: relative;
    top: 70px;
    left: 370px;
    font-size: 30px;
}
.heading+h3+p{
    color: white;
    position: relative;
    top: 60px;
    left: 100px;
    width: 450px;
    word-spacing: 6px;
    line-height: 22px;

}
.btn{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: salmon;
    border: 3px solid salmon;
    font-size: larger;
    font-weight: 600;
    position: relative;
    left: 100px;
    top: 70px;
    transition: all 0.5s;
}
.btn:hover{
    color: white;
    background-color: transparent;

}
footer{
    color: white;
    position:fixed;
    bottom: 0px;
}